@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat-Regular";
    src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
}

body {
    background-color: #1E90FF;
    font-family: "Montserrat-Regular", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#__next {
    height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #205375;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #e5edff;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
}
